**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results
modules/compliance-service/compliance-service-api/src/main/java/compliance/service/exception/
modules/compliance-service/compliance-service-api/src/main/java/compliance/service/model/
modules/compliance-service/compliance-service-api/src/main/java/compliance/service/service/AvgAmtLocalService.java
modules/compliance-service/compliance-service-api/src/main/java/compliance/service/service/
modules/compliance-service/compliance-service-service/src/main/java/compliance/service/model/
modules/compliance-service/compliance-service-service/src/main/java/compliance/service/service/base/
modules/DailyAverageService/DailyAverageService-api/src/main/java/com/daily/average/service/exception/
modules/DailyAverageService/DailyAverageService-api/src/main/java/com/daily/average/service/model/
modules/DailyAverageService/DailyAverageService-api/src/main/java/com/daily/average/service/service/
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/model/
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/base/
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/persistence/
modules/PFMService/PFMService-api/src/main/java/com/daily/pfm/service/exception/
modules/PFMService/PFMService-api/src/main/java/com/daily/pfm/service/model/
modules/PFMService/PFMService-api/src/main/java/com/daily/pfm/service/service/
modules/PFMService/PFMService-service/src/main/java/com/daily/pfm/service/service/base/
modules/PFMService/PFMService-service/src/main/java/com/daily/pfm/service/service/persistence/
modules/compliance-service/compliance-service-service/src/main/java/compliance/service/service/persistence/
modules/nps-dashboard-web/src/main/java/com/nps/dashboard/web/mvc/TestCreatePdfUtil.java
*.zip
modules/DLFileServiceWrapper/.gitignore
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/exception/NoSuchReportStatusException.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/model/
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/persistence/ReportStatusPersistence.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/persistence/impl/ReportStatusPersistenceImpl.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/persistence/impl/constants/cachePersistenceConstants.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/base/ReportStatusLocalServiceBaseImpl.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/base/ReportStatusServiceBaseImpl.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/model/impl/ReportStatusCacheModel.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/model/impl/ReportStatusImpl.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/model/impl/ReportStatusBaseImpl.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/persistence/ReportStatusUtil.java
modules/npst-manpower/npst-manpower-service/src/main/java/com/nps/manpower/service/persistence/impl/constants/npsPersistenceConstants.java
modules/npst-manpower/npst-manpower-service/src/main/java/com/nps/manpower/service/persistence/
modules/npst-manpower/npst-manpower-service/src/main/java/com/nps/manpower/service/http/
modules/npst-manpower/npst-manpower-service/src/main/java/com/nps/manpower/service/base/
modules/npst-manpower/npst-manpower-service/src/main/java/com/nps/manpower/model/
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/persistence/
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/model/
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/exception/
modules/nps-erm/nps-erm-service/src/main/java/com/nps/erm/service/persistence/
modules/nps-erm/nps-erm-service/src/main/java/com/nps/erm/service/http/
modules/nps-erm/nps-erm-service/src/main/java/com/nps/erm/service/base/
modules/nps-erm/nps-erm-service/src/main/java/com/nps/erm/model/
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/service/persistence/
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/model/
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/exception/
modules/convert-XLSX-to-XML/build.gradle
modules/convert-XLSX-to-XML/src/main/java/convert/XLSX/to/XML/constants/ConvertXLSXToXMLPortletKeys.java
modules/convert-XLSX-to-XML/src/main/java/convert/XLSX/to/XML/portlet/ConvertXLSXToXMLPortlet.java
modules/convert-XLSX-to-XML/src/main/resources/content/Language.properties
modules/convert-XLSX-to-XML/src/main/resources/META-INF/resources/init.jsp
modules/convert-XLSX-to-XML/src/main/resources/META-INF/resources/view.jsp
modules/convert-XLSX-to-XML/src/main/resources/META-INF/resources/css/main.scss
modules/convert-XLSX-to-XML/.gitignore
modules/convert-XLSX-to-XML/bnd.bnd
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/impl/GrievPendingOneLocalServiceImpl.java
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/impl/GrievPendingTwoLocalServiceImpl.java
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/impl/GrowthDataOneLocalServiceImpl.java
modules/DailyAverageService/DailyAverageService-service/src/main/java/com/daily/average/service/service/impl/GrowthDataTwoLocalServiceImpl.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusLocalService.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusLocalServiceUtil.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusLocalServiceWrapper.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusService.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusServiceUtil.java
modules/nps-cache-schema/nps-cache-schema-api/src/main/java/nps/cache/schema/service/ReportStatusServiceWrapper.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/model/impl/ReportStatusModelImpl.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/http/ReportStatusServiceHttp.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/http/ReportStatusServiceSoap.java
modules/nps-cache-schema/nps-cache-schema-service/src/main/java/nps/cache/schema/service/impl/ReportStatusServiceImpl.java
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/service/ErmBatchInformationLocalServiceWrapper.java
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/service/ErmBatchInformationServiceWrapper.java
modules/nps-erm/nps-erm-api/src/main/java/com/nps/erm/service/ErmInformationLocalServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ChangeInEmployeeLocalServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ChangeInEmployeeServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ChangeShareHoldingLocalServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ChangeShareHoldingServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/CompositionCommitteeServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ManpowerDirectorHoldingServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ManpowerEmployeeLocalServiceWrapper.java
modules/npst-manpower/npst-manpower-api/src/main/java/com/nps/manpower/service/ManpowerEmployeeServiceWrapper.java
modules/AnnualEvoting/.gitignore
modules/Form-Autosave/.gitignore
